/* add home page styles here */

.game {
    /* grid-template-columns: repeat(4, 1fr); */
    grid-template-columns: 1.1fr 0.9fr 1.1fr 0.9fr;
    grid-template-rows: 1fr 2.1fr 0.1fr;
    gap: 0px 0px;
    grid-template-areas:
        "DEC DEC spawner spawner"
        "hero hero enemy enemy"
        ". . . .";
}

div {
    display: flex;
    height: 100px;
    width: 300px;
    background-color: blue;
    margin: 10px;
}

section {
    display: flex;
    overflow-wrap: break-word;
    overflow: contain;
}

.dead-enemy-count {
    grid-area: DEC;
}

.spawner {
    grid-area: spawner;
}

.hero {
    grid-area: hero;
}

.enemy {
    grid-area: enemy;
}

.hero-img {
    height: 200px;
}

.icon {
    height: 25px;
}


.enemy-1 {
    background-image: url(../assets/enemy-1.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center right;

}

.enemy-2 {
    background-image: url(../assets/enemy-2.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center right;
}