/* add home page styles here */


.game {
    /* grid-template-columns: repeat(4, 1fr); */
    grid-template-columns: 1.1fr 0.9fr 1.1fr 0.9fr;
    grid-template-rows: 1fr 2.1fr 0.1fr;
    gap: 0px 0px;
    grid-template-areas:
        "DEC DEC spawner spawner"
        "hero hero enemy enemy"
        ". . . .";
}

div {
    display: flex;
    height: 100px;
    width: 100%;
    background-color: blue;
    margin: 10px;
}

section {
    display: flex;
    overflow-wrap: break-word;
    contain: content;
}

.dead-enemy-count {
    grid-area: DEC;
}

.spawner {
    grid-area: spawner;
}

.hero {
    grid-area: hero;
}

.enemy {
    grid-area: enemy;
}

.hero-img {
    height: 10rem;
}

.hero-img-attack {
    margin-left: 3rem;
}

.icon {
    height: 25px;
}


.enemy-1 {
    background-image: url(../assets/enemy-1.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center right;

}

.enemy-2 {
    background-image: url(../assets/enemy-2.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center right;
}

.generic-enemy {
    background-image: url(../assets/generic-enemy.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center right;
}

.modal-el, .game-over-modal {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s opacity 0.5s;
}


.el-active {
    visibility: visible;
    opacity: 1;
}

.modal {
    width: 20rem;
    height: 20rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    contain: content;
    flex-wrap: wrap;
    text-justify: top;
    text-align: top;
}

.fight {
    background: url(../assets/hit.gif);
    
    background-size: contain;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
}

.game-over {
    background: url(../assets/player-hit.gif);
    background-size: contain;
    background-repeat: no-repeat;
}
